<div class="flex min-h-screen justify-center items-center bg-gray-100">
    <div class="bg-white max-w-md w-full p-8 shadow-md rounded-lg">
        <h2 class="text-3xl font-bold text-center mb-8">Página Inicial</h2>
        <div class="grid gap-4">
            <a [routerLink]="['/incluir']"
                class="bg-blue-500 hover:bg-blue-600 text-white py-4 px-8 rounded-lg text-center block">
                Ir para Inclusão
            </a>
            <a [routerLink]="['/consultar']"
                class="bg-green-500 hover:bg-green-600 text-white py-4 px-8 rounded-lg text-center block">
                Ir para Consulta
            </a>
        </div>
    </div>
</div>